pkgbase = moondeckbuddy-bin
	pkgdesc = Host companion that lets the MoonDeck Steam Deck plugin control Steam and the PC (upstream AppImage)
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/FrogTheFrog/moondeck-buddy
	arch = x86_64
	license = LGPL-3.0-only
	depends = bash
	depends = e2fsprogs
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libglvnd
	depends = libgpg-error
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = zlib
	provides = moondeckbuddy
	conflicts = moondeckbuddy
	conflicts = moondeckbuddy-appimage
	noextract = moondeckbuddy-bin-1.10.0.AppImage
	options = !strip
	options = !debug
	source = moondeckbuddy-bin-1.10.0.AppImage::https://github.com/FrogTheFrog/moondeck-buddy/releases/download/v1.10.0/MoonDeckBuddy-1.10.0-x86_64.AppImage
	source = LICENSE-1.10.0::https://raw.githubusercontent.com/FrogTheFrog/moondeck-buddy/v1.10.0/LICENSE
	sha256sums = 51960ec27f897818e10f6e06a3c8994eebfd05c58c9c51ed89cad5b53caa5a46
	sha256sums = a5681bf9b05db14d86776930017c647ad9e6e56ff6bbcfdf21e5848288dfaf1b

pkgname = moondeckbuddy-bin
