pkgbase = bazaar
	pkgdesc = App store for GNOME with a focus on flatpaks and Flathub
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/bazaar-org/bazaar
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = ninja
	makedepends = blueprint-compiler
	makedepends = glib2-devel
	makedepends = gettext
	makedepends = gobject-introspection
	makedepends = python-babel
	depends = appstream
	depends = cairo
	depends = dconf
	depends = flatpak
	depends = glib2
	depends = glycin
	depends = glycin-gtk4
	depends = graphene
	depends = gtk4
	depends = gtksourceview5
	depends = json-glib
	depends = libadwaita
	depends = libdex
	depends = libheif
	depends = libmalcontent
	depends = libproxy
	depends = libsecret
	depends = libsoup3
	depends = libxmlb
	depends = libyaml
	depends = md4c
	depends = pango
	depends = webkitgtk-6.0
	depends = hicolor-icon-theme
	optdepends = krunner-bazaar: krunner integration
	optdepends = malcontent: parental controls
	source = bazaar-0.9.1.tar.gz::https://github.com/bazaar-org/bazaar/archive/refs/tags/v0.9.1.tar.gz
	sha256sums = 1b2783845b183a9cea87048e582dcbdd71d7771a7f65f89d7ec8a563af2d550f

pkgname = bazaar
