pkgbase = concat-bin
	pkgdesc = Free and open-source CapCut replacement, a Tauri video editor with a Rust engine (upstream binary)
	pkgver = 0.2.0alpha.15
	pkgrel = 1
	url = https://github.com/jub0t/Concat
	arch = x86_64
	license = MPL-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = glib2
	depends = libsoup3
	depends = gdk-pixbuf2
	depends = cairo
	depends = dbus
	depends = glib-networking
	depends = alsa-lib
	depends = ffmpeg
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	optdepends = whisper-cpp: on-device auto-captions and transcription
	optdepends = vulkan-icd-loader: Vulkan compositor backend
	optdepends = libglvnd: OpenGL compositor backend
	provides = concat
	conflicts = concat
	noextract = concat-bin-0.2.0alpha.15.deb
	options = !strip
	options = !debug
	source = concat-bin-0.2.0alpha.15.deb::https://github.com/jub0t/Concat/releases/download/v0.2.0-alpha.15/WolfCut_0.2.0_amd64.deb
	source = LICENSE-0.2.0alpha.15::https://raw.githubusercontent.com/jub0t/Concat/v0.2.0-alpha.15/LICENSE
	sha256sums = 1faae2cd2203d3eaeb4b280e1f773e5dbe4be9eb31a485c4b9a9d3fd31e049e4
	sha256sums = 66a3107d5ad6a058aab753eaac2047ccb2ed0e39465dd0fe5844da3e300d5172

pkgname = concat-bin
