pkgbase = concat-bin
	pkgdesc = Free and open-source CapCut replacement, a Tauri video editor with a Rust engine (upstream binary)
	pkgver = 0.2.0alpha.21
	pkgrel = 1
	url = https://github.com/jub0t/Concat
	arch = x86_64
	license = MPL-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = glib2
	depends = libsoup3
	depends = gdk-pixbuf2
	depends = cairo
	depends = dbus
	depends = glib-networking
	depends = alsa-lib
	depends = ffmpeg
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	optdepends = whisper-cpp: on-device auto-captions and transcription
	optdepends = vulkan-icd-loader: Vulkan compositor backend
	optdepends = libglvnd: OpenGL compositor backend
	provides = concat
	conflicts = concat
	noextract = concat-bin-0.2.0alpha.21.deb
	options = !strip
	options = !debug
	source = concat-bin-0.2.0alpha.21.deb::https://github.com/jub0t/Concat/releases/download/v0.2.0-alpha.21/WolfCut_0.2.0_amd64.deb
	source = LICENSE-0.2.0alpha.21::https://raw.githubusercontent.com/jub0t/Concat/v0.2.0-alpha.21/LICENSE
	sha256sums = 1cc6855a2936f7c56898aa58bce69141f7349ee6728cca0f1f8c26063b5f3d3e
	sha256sums = 0d96a4ff68ad6d4b6f1f30f713b18d5184912ba8dd389f86aa7710db079abcb0

pkgname = concat-bin
