pkgbase = concat
	pkgdesc = Free and open-source CapCut replacement, a Tauri video editor with a Rust engine
	pkgver = 0.2.0alpha.15
	pkgrel = 1
	url = https://github.com/jub0t/Concat
	arch = x86_64
	license = MPL-2.0
	makedepends = rust
	makedepends = npm
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = glib2
	depends = libsoup3
	depends = gdk-pixbuf2
	depends = cairo
	depends = dbus
	depends = glib-networking
	depends = alsa-lib
	depends = ffmpeg
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	optdepends = whisper-cpp: on-device auto-captions and transcription
	optdepends = vulkan-icd-loader: Vulkan compositor backend
	optdepends = libglvnd: OpenGL compositor backend
	noextract = sherpa-onnx-v1.13.6-linux-x64-static-lib.tar.bz2
	options = !debug
	options = !lto
	source = concat-0.2.0alpha.15.tar.gz::https://github.com/jub0t/Concat/archive/refs/tags/v0.2.0-alpha.15.tar.gz
	source = https://github.com/k2-fsa/sherpa-onnx/releases/download/v1.13.6/sherpa-onnx-v1.13.6-linux-x64-static-lib.tar.bz2
	sha256sums = 2b77c892fdd10f1cc93842bd8f0c30504ef17c797ddf386bc100308d175c4c8c
	sha256sums = fe4968c3cd2ad3dfd1ea925500e5542aef70dd7119847257ffde95d6260cd629

pkgname = concat
